# Data Science Tools and Ecosystem

## Author
Erik Polzin

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
1. List Popular Data Science Languages
2. List Commonly Used Data Science Libraries
3. List Popular Data Science Tools
4. Show How to Perform Basic Artithmetic in a Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Scikit Learn
2. PyTorch
3. Tensor Flow

| Data Science Tools | 
| --- | 
| Apache Spark |
| Tableau |
| SAS |

### Below area few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression ot multiply then add integers.
(3*4)+5

17

In [2]:
# This cell will convert 200 minutes to hours by dividing by 60
minutes = 200
m_to_h_conversion_factor = 60

hours = minutes / m_to_h_conversion_factor
print(hours)

3.3333333333333335